.main-Groceries{
    background-image: url('../img/food_courtediyt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    height: 100vh;
    gap: 30px;
    padding: 80px 50px 50px 50px ;
}
.Groceries{
    border-radius: 35px;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-style: ridge;
    font-style: oblique;
    
}
.Groceries h1{
    font-size: 20px;
}