

.main-Home{
    padding: auto;
 padding-left: 100px;
    width: 100vw;
    height: 100vh;
    padding-top: 80px; 
    color: rgb(255, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.main-Home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url('../img/food_courtediyt.png');
    
    background-size: cover;         
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%); /* Adjust the brightness value as needed */
    z-index: 1;}
.Img-chef {
    border:  1px #ffffff solid;
    border-radius: 500px;

    z-index: 1000;
    width: 400px;
    height: 400px;
    }
.Img-chef-div{
display: flex;
align-items: center;
justify-content: center;
 border-radius: 500px;
z-index: 1000;
width: 400px;
height: 400px;
}
.Info-Home{
    z-index: 25;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    padding-right: 50px;
    padding-left: 50px;
  
}
.infotext{
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
.Under-Text{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.buttons-Home{
    width: 150px;
    height: 40px;
    background-color:  rgb(255, 179, 0);;
    border: 1px black solid;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    transition: border-radius 0.3s ease-in-out ;
}
.buttons-Home:hover{
    background-color: rgb(255, 179, 0);
    border-radius: 20px 75px;

}


.innerbox{
    width: 100%;
    height: 100%;

    background-color: rgba(255, 32, 32, 0.5);
   

}
.Homemain {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
.images{
    background-image: url('../img/pexels-lum3n-44775-568370.jpg');
    background-size: cover;         
    background-position: center;
    height: 75%;    
    background-repeat: no-repeat; 
    display: grid;
    align-items: end;
    justify-items: center;
}

.box-info{
    background: rgba(255, 248, 240, 0.9); 
    font-family: fantasy;
    
    border: 1px solid #000000;
    border-radius:250px 250px;
    width:250px;
    overflow: hidden;
    height: 200px;
   
    
}
.information,.newinfo{
    display: flex ;
  flex-direction : row;
  gap :20px;
  position: relative;
  bottom: 60px;
    font-size: 20px;

   
    align-items: center;
    justify-content: center;
    
}
.desgin{
    width: 500px;
    height: 500px;background-color: white;
   
}

