.Login_signup{
    padding-top: 100px;
    height: 100vh;
    background-image: url('../img/food_courtediyt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-container, .signup-container {
    padding-top: 30px;
    align-items: center;
    justify-items: center;
    background-color: rgb(28, 28, 28);
    width: 450px;
    text-align: center;
}

.login-container h2, .signup-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color:white;
}
.login-container p, .signup-container p {
    color: #ffffff;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    margin-left: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
 
}

.input-group input::placeholder {
    color:black;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.login-btn, .signup-btn {
    width: 50%;
    padding: 15px;
    margin-left: 15px;
    background: linear-gradient(to right,  rgb(255,179,0),  rgb(255,179,0));
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.login-btn:hover, .signup-btn:hover {
    background:linear-gradient(to right,  rgb(255,179,0),  rgb(255,179,0));
}

.social-login, .social-signup {
    text-align: center;
    margin-top: 30px;
}

.social-login p, .social-signup p {
    margin-bottom: 10px;
    font-size: 14px;
    color:white;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
}


.container {
    background-color: rgb(28, 28, 28); 
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 550px;
    padding-top: 0;
    text-align: center;
    padding-right: 65px;
}

.role-switch {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: #ffffff;
}

.role-switch label {
    font-size: 20px;
}

.login-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color:white;
    
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-group input::placeholder {
    color: #393838;
    margin: 1px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.login-btn {
    width: 50%;
    padding: 15px;
    background:linear-gradient(to right,  rgb(255,179,0),  rgb(255,179,0));
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    margin-left: 20px;
}

.login-btn:hover {
    background:linear-gradient(to right,  rgb(255,179,0),  rgb(255,179,0));
}

.social-login {
    text-align: center;
    margin-top: 30px;
}

.social-login p {
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
}



 







 

  



