.Div-Counter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


button {
    margin: 0 10px;

    font-size: 9px;
    cursor: pointer;
  }
  
  .count-counter{
    text-align: center;
    font-size: 15px;
  }
  